sudo: false
language: go

notifications:
  email: false

go:
  - 1.9
services:
  - redis-server
before_install:
  - rvm use 2.4.2 --install --binary --fuzzy
  - gem install anycablebility
script: make test-ci
